{{#partial "header"}}
	<tr>
		<td valign="top" align="center"><img src="{{{imageUrl}}}" width="512" height="288" alt="{{groupSessionRequestTitle}}" style="display:block; max-width:512px; border-radius: 0px;" border="0" class="em_img" /></td>
	</tr>
	<tr>
		<td height="30" style="height:30px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; font-weight:bold;">Group Session requested for ‘{{{groupSessionRequestTitle}}}&rsquo;.</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	<tr>
		<td align="left" class="em_blk" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:20px; line-height:24px; color:#000000; font-weight:bold;">Hi {{facilitatorName}},</td>
	</tr>
	<tr>
		<td height="20" style="height:20px; line-height:0px; font-size:0px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
			<p>
				A Group Session was requested for ‘{{{groupSessionRequestTitle}}}’.
			</p>
			<p>
				&nbsp;
			</p>
			<p>
				Requestor Name: {{respondentName}}
			</p>
			<p>
				Requestor Email Address: {{respondentEmailAddress}}
			</p>
			<p>
				Requestor Phone Number: {{respondentPhoneNumber}}
			</p>
			<p>
				Suggested Date: {{suggestedDate}}
			</p>
			<p>
				Suggested Time: {{suggestedTime}}
			</p>
			<p>
				Expected Participants: {{expectedParticipants}}
			</p>
			<p>
				Notes: {{notes}}
			</p>
			{{#if customQuestion1}}
				<p>
					{{customQuestion1}}: {{customAnswer1}}
				</p>
			{{/if}}
			{{#if customQuestion2}}
				<p>
					{{customQuestion2}}: {{customAnswer2}}
				</p>
			{{/if}}
		</td>
	</tr>
{{/partial}}

{{> layouts/en/default}}