{{#partial "header"}}
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; font-weight:bold;">How are you doing?</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	Hi, it's {{integratedCareProgramName}}. We are checking in to see if the resources we provided were helpful. Please visit <a href="{{#if targetUrl}}{{{targetUrl}}}{{else}}{{{webappBaseUrl}}}{{/if}}">{{webappBaseUrl}}</a> to let us know how you're doing.
	<br/><br/>
	Questions? Please call us at {{integratedCarePhoneNumberDescription}}.
{{/partial}}

{{> layouts/en/ic}}