{{#partial "header"}}
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; font-weight:bold;">Welcome to {{integratedCareProgramName}}!</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	A reminder - please visit <a href="{{{targetUrl}}}">{{webappBaseUrl}}</a> to book an appointment with a {{integratedCarePrimaryCareName}} provider if you have not already done so.
	<br/><br/>
	Questions? Please call us at {{integratedCarePhoneNumberDescription}}.
{{/partial}}

{{> layouts/en/ic}}