{{#partial "header"}}
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; ">Group Session requested</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	<tr>
		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
			<p>
				Requestor Name: {{requestorName}}
			</p>
			<p>
				Requestor Email Address: {{requestorEmailAddress}}
			</p>
			<p>
				Preferred Date: {{preferredDateDescription}}
			</p>
			<p>
				Preferred Time: {{preferredTimeDescription}}
			</p>
			<p>
				Additional Description: {{additionalDescription}}
			</p>
			<p>
				Minimum Attendee Count: {{minimumAttendeeCount}}
			</p>
			<p>
				Maximum Attendee Count: {{maximumAttendeeCount}}
			</p>
			<p>
				Group Topics:
				<ul>
					{{#each groupTopicNames}}
						<li>{{this}}</li>
					{{/each}}
				</ul>
			</p>
		</td>
	</tr>
{{/partial}}

{{> layouts/en/default}}