{{#partial "header"}}
	<tr>
		<td valign="top" align="center"><img src="{{{imageUrl}}}" width="512" height="288" alt="{{groupSession.title}}" style="display:block; max-width:512px; border-radius: 0px;" border="0" class="em_img" /></td>
	</tr>
	<tr>
		<td height="30" style="height:30px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff; font-weight:bold;">The studio session &lsquo;{{groupSession.title}}&rsquo; has been canceled.</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	<tr>
		<td align="left" class="em_blk" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:20px; line-height:24px; color:#000000; font-weight:bold;">Hi {{attendeeName}},</td>
	</tr>
	<tr>
		<td height="20" style="height:20px; line-height:0px; font-size:0px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
			<p>
				<b>The studio session scheduled for <b>{{groupSessionStartDateDescription}}</b> @ <b>{{groupSessionStartTimeDescription}}</b> has been <b>canceled</b>.  We apologize for the inconvenience.
			</p>
			<br />

			<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
				<tr>
					<td height="30" bgcolor="#ffffff" width="50%"></td>
					<td height="30" bgcolor="#ffffff" width="50%"></td>
				</tr>
				<tr>
					<td align="left" colspan="2">
						<a href="{{{anotherTimeUrl}}}" target="_blank">
							<img src="{{{staticFileUrlPrefix}}}/button-another-time@2x.jpg" width="256" height="44" alt="Reserve Another Session" />
						</a>
					</td>
				</tr>
			</table>
		</td>
	</tr>
{{/partial}}

{{> layouts/en/default}}