{{#partial "header"}}
	<tr>
		<td align="center" class="em_white" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:36px; line-height:40px; color:#ffffff;">Appointment booked</td>
	</tr>
{{/partial}}

{{#partial "body"}}
	<tr>
		<td align="left" class="em_blk" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:20px; line-height:24px; color:#000000;">Hello {{providerName}},</td>
	</tr>
	<tr>
		<td height="20" style="height:20px; line-height:0px; font-size:0px;" class="em_h20">&nbsp;</td>
	</tr>
	<tr>
		<td align="left" class="em_blue" style="font-family:'Karla', 'Open Sans', 'Roboto', Arial, sans-serif; font-size:18px; line-height:24px; color:#000;">
			<p>
				A Cobalt user ({{accountEmailAddress}}) will be meeting with you at <a href="{{{videoconferenceUrl}}}">{{{videoconferenceUrl}}}</a> on {{appointmentStartDateDescription}} @ {{appointmentStartTimeDescription}}.
			</p>
			<br/>
			{{#if providerSchedulingUrl}}
				<p>
					<a href="{{{providerSchedulingUrl}}}">Click here to view patient information in Cobalt.</a>
				</p>
			{{/if}}
		</td>
	</tr>
{{/partial}}

{{> layouts/en/default}}